<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-optimizely"
        version="0.3.0">

  <name>Optimizely Cordova Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/code_blocks.js" name="code_blocks">
    <runs/>
  </js-module>

  <js-module src="www/enums.js" name="enums">
    <runs/>
  </js-module>

  <js-module src="www/goal_tracking.js" name="goal_tracking">
    <runs/>
  </js-module>

  <js-module src="www/lib/lodash.js" name="lodash">
    <runs/>
  </js-module>

  <js-module src="www/live_variables.js" name="live_variables">
    <runs/>
  </js-module>

  <js-module src="www/native_mixin.js" name="native_mixin">
    <runs/>
  </js-module>

  <js-module src="www/optimizely.js" name="Optimizely">
    <clobbers target="optimizely" />
  </js-module>

  <dependency
    id="es6-promise-plugin"
    url="https://github.com/vstirbu/PromisesPlugin.git">
  </dependency>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Optimizely">
        <param name="android-package" value="com.optimizely.cordova.OptimizelyCordovaPlugin"/>
      </feature>
    </config-file>

    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/OptimizelyCordovaPlugin.java" target-dir="src/com/optimizely/cordova/"/>
    <source-file src="src/android/OptimizelyCordovaLiveVariable.java" target-dir="src/com/optimizely/cordova/"/>
    <source-file src="src/android/exceptions/InvalidVariableTypeException.java" target-dir="src/com/optimizely/cordova/exceptions"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="Optimizely">
        <param name="ios-package" value="OptimizelyCordovaPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/OptimizelyCordovaPlugin.h" target-dir="OptimizelyCordovaPlugin"/>
    <source-file src="src/ios/OptimizelyCordovaPlugin.m" target-dir="OptimizelyCordovaPlugin"/>
    <header-file src="src/ios/OptimizelyCordovaLiveVariable.h" target-dir="OptimizelyCordovaLiveVariable"/>
    <source-file src="src/ios/OptimizelyCordovaLiveVariable.m" target-dir="OptimizelyCordovaLiveVariable"/>

    <framework src="src/ios/Optimizely.framework" custom="true" />
    <framework src="libicucore.dylib" />
    <framework src="libsqlite3.dylib" />
    <framework src="AudioToolbox.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="Foundation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="UIKit.framework" />
  </platform>

</plugin>